@import "../../media/styles/mixins";
@import "../../media/styles/variables";

.root {
  display: flex;
  justify-content: center;

  .btn-between button {
    margin-right: 10px;
  }

  .table {
    h3 {
      color: $orange;
    }

    td {
      vertical-align: middle;
    }

    img {
      width: 100px;
    }
  }
}
