@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('./media/fonts/TitilliumWeb-Regular.eot');
  src: url('./media/fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('./media/fonts/TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg'),
  url('./media/fonts/TitilliumWeb-Regular.ttf') format('truetype'),
  url('./media/fonts/TitilliumWeb-Regular.woff') format('woff'),
  url('./media/fonts/TitilliumWeb-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('./media/fonts/TitilliumWeb-SemiBold.eot');
  src: url('./media/fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./media/fonts/TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold') format('svg'),
  url('./media/fonts/TitilliumWeb-SemiBold.ttf') format('truetype'),
  url('./media/fonts/TitilliumWeb-SemiBold.woff') format('woff'),
  url('./media/fonts/TitilliumWeb-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('./media/fonts/TitilliumWeb-Bold.eot');
  src: url('./media/fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('./media/fonts/TitilliumWeb-Bold.svg#TitilliumWeb-Bold') format('svg'),
  url('./media/fonts/TitilliumWeb-Bold.ttf') format('truetype'),
  url('./media/fonts/TitilliumWeb-Bold.woff') format('woff'),
  url('./media/fonts/TitilliumWeb-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
